/* utilities */
.button--blue {
  background: #5a5a8c;
  padding: 16px;
  border: none;
  color: #ffffff;
}

.button--blue:hover {
  background: rgba(90, 90, 140, 0.8);
}

.flex--center {
  justify-content: center;
  text-align: center;
}

@media screen and (max-width: 991px) {
  .desktop-only {
    display: none!important;
  }

  .mobile-only {
    display: block !important;
  }
}

@media screen and (min-width: 992px) {
  .desktop-only {
    display: block !important;
  }

  .mobile-only {
    display: none !important;
  }
}

img {
  width: 100%;
  max-width: 100%;
}

h1 {
  margin-top: 24px;
}

@media screen and (max-width: 991px) {
  h1 {
    font-size: 1.8rem;
    text-align: center;
  }
}

.header__form-errors {
  width: 100%;
  display: none;
  position: absolute;
  z-index: 10;
  left: 470px;
}

@media screen and (max-width: 991px) {
  .header__form-errors {
    position: relative;
    left: 0;
  }
}

.modal__form-errors {
  width: 100%;
  display: none;
  z-index: 10;
}

.header__info {
  background-color: #ffffff;
  background-image: url("images/bg_01.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  position: relative;
  display: block;
}

.header__info--logo {
  width: 270px;
  height: auto;
}

.header__info--checkmark {
  width: 25px;
  height: auto;
}

.header__info .send-button-container {
  margin-top: 12px;
}

.header__info>.row .container {
  background-color: transparent;
  background-image: none;
}

.header__info>.row .container {
  border-width: 0;
  border-radius: 0;
}

.header__info>.row .container {
  font-size: 14px;
  font-family: arial;
  height: 643px;
  width: 960px;
  overflow: visible;
  position: relative;
  display: block;
}

@media screen and (max-width: 991px) {
  .header__info>.row .container {
    width: 100%;
    height: 1100px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
}

.header__info-wrapper {
  padding: 36px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #ffffff;
  width: 461px;
  height: 100%;
  position: relative;
}

@media screen and (max-width: 991px) {
  .header__info-wrapper {
    width: 320px;
    height: auto;
    padding: 0 0 24px 0;
  }
}

.header__info-wrapper h3 {
  text-align: center;
  color: #b8b8b8;
  font-weight: 300;
  font-size: 23px;
  line-height: 30px;
  margin: 12px 0 36px 0;
}

.header__check-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin-bottom: 12px;
}

.header__check-text h4 {
  color: #000000;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  margin: 0 0 0 36px;
}

.header__call-now {
  color: #ffffff;
  width: 100%;
  text-align: center;
  font-weight: 300;
  font-size: 16px;
  line-height: 21px;
  cursor: pointer;
  margin: 18px 0;
}

.header__call-now:hover {
  color: #ffffff;
  text-decoration: none;
}

@media screen and (max-width: 991px) {
  .header__call-now {
    width: calc(100% - 24px);
  }

  .header__check-text {
    flex-direction: column;
    text-align: center;
  }

  .header__info-wrapper h3 {
    font-size: 12px;
    margin: 6px 0 6px 0;
  }

  .header__check-text h4 {
    margin: 12px 0 0 0;
  }
}

/* Header info form */
.header__info-form .widget-regular-label {
  height: auto;
  display: none;
  font-family: ubuntu;
  font-size: 14px;
  font-weight: 700;
  color: #f2f9ff;
  width: 360px;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 5px;
  padding-left: 0;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0px;
  background-color: transparent;
  background-image: none;
  font-style: normal;
  vertical-align: top;
  text-align: left;
  text-align-last: left;
}

.header__info-form .widget-input-text {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: transparent;
  background-image: none;
  border: 2px solid rgba(242, 249, 255, 0.4);
  padding-top: 0;
  padding-right: 5px;
  padding-bottom: 0;
  padding-left: 5px;
  margin-top: 4px;
  margin-right: 0px;
  margin-bottom: 4px;
  margin-left: 0px;
  display: block;
  width: 360px;
  box-sizing: border-box;
  height: 41px;
  color: #f2f9ff;
  font-size: 13px;
  overflow: hidden;
  font-family: ubuntu;
  margin-bottom: 12px;
  width: 100%;
}

.header__info-form .widget-input-text {
  padding-top: 0;
  padding-bottom: 0;
}

.header__info-form .widget-textarea {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: transparent;
  background-image: none;
  border-top: 2px solid rgba(242, 249, 255, 0.4);
  border-right: 2px solid rgba(242, 249, 255, 0.4);
  border-bottom: 2px solid rgba(242, 249, 255, 0.4);
  border-left: 2px solid rgba(242, 249, 255, 0.4);
  padding-top: 10px;
  padding-right: 5px;
  padding-bottom: 10px;
  padding-left: 5px;
  margin-top: 4px;
  margin-right: 0px;
  margin-bottom: 4px;
  margin-left: 0px;
  display: block;
  width: 360px;
  box-sizing: border-box;
  height: 70px;
  color: #f2f9ff;
  font-size: 13px;
  overflow: hidden;
  font-family: ubuntu;
}

.header__info-form .widget-input-select {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: transparent;
  background-image: none;
  border-top: 2px solid rgba(242, 249, 255, 0.4);
  border-right: 2px solid rgba(242, 249, 255, 0.4);
  border-bottom: 2px solid rgba(242, 249, 255, 0.4);
  border-left: 2px solid rgba(242, 249, 255, 0.4);
  padding-top: 0;
  padding-right: 5px;
  padding-bottom: 0;
  padding-left: 5px;
  margin-top: 4px;
  margin-right: 0px;
  margin-bottom: 4px;
  margin-left: 0px;
  display: block;
  width: 360px;
  box-sizing: border-box;
  height: 41px;
  color: #ffffff;
  font-family: ubuntu;
  font-size: 13px;
  overflow: hidden;
}

.header__info-form .widget-input-select {
  padding-top: 0;
  padding-bottom: 0;
}

.header__info-form .widget-input-checkbox {
  width: 13px;
  height: 13px;
  box-sizing: border-box;
  margin-top: 0px;
  margin-right: 3px;
  margin-bottom: 0px;
  margin-left: 0;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  vertical-align: top;
}

.header__info-form .widget-input-checkbox {
  box-sizing: border-box;
  padding: 1px;
}

.header__info-form .widget-input-button {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: #ffffff;
  background-image: none;
  border-top: 0;
  border-right: 0;
  border-bottom: 0;
  border-left: 0;
  padding-top: 10px;
  padding-right: 5px;
  padding-bottom: 10px;
  padding-left: 5px;
  margin-top: 4px;
  margin-right: 0;
  margin-left: 0px;
  margin-bottom: 4px;
  display: block;
  box-sizing: border-box;
  font-size: 22px;
  font-weight: bold;
  color: #5a5a8c;
  width: 360px;
  height: 55px;
  font-family: ubuntu;
  overflow: hidden;
  width: 100%;
}

.header__info-form [class*="-text"]:-moz-placeholder {
  color: rgba(242, 249, 255, 0.4);
  font-family: ubuntu;
  font-size: 13px;
}

.header__info-form [class*="-text"]::-moz-placeholder {
  color: rgba(242, 249, 255, 0.4);
  font-family: ubuntu;
  font-size: 13px;
}

.header__info-form [class*="-text"]:-ms-input-placeholder {
  color: rgba(242, 249, 255, 0.4);
  font-family: ubuntu;
  font-size: 13px;
}

.header__info-form [class*="-text"]::-webkit-input-placeholder {
  color: rgba(242, 249, 255, 0.4);
  font-family: ubuntu;
  font-size: 13px;
}

.header__info-form .widget-checkbox-label {
  display: inline-block;
  *zoom: 1;
  *display: inline;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  height: auto;
  font-family: ubuntu;
  font-size: 12px;
  font-weight: 400;
  color: #f2f9ff;
  vertical-align: top;
  width: 344px;
  overflow: hidden;
  font-style: normal;
}

.header__info-form .widget-input-radio {
  display: inline-block;
  *zoom: 1;
  *display: inline;
  clear: left;
  width: 13px;
  height: 13px;
  margin-top: 0px;
  margin-right: 3px;
  margin-bottom: 0px;
  margin-left: 3px;
  vertical-align: middle;
}

.header__info-form .widget-radio-label {
  display: inline;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  box-sizing: border-box;
  vertical-align: middle;
  font-family: ubuntu;
  font-size: 12px;
  font-weight: 400;
  color: #f2f9ff;
  overflow: hidden;
  font-style: normal;
  line-height: 1.3;
}

.header__info-form .widget-container {
  padding-top: -1px;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: -2px;
  width: 100%;
  font-size: 0px;
  height: auto;
}

.header__info-form .widget-container:first-of-type {
  padding-top: 0;
}

.header__info-form .widget-container:last-of-type {
  padding-bottom: 0;
}

.header__info-form {
  background-color: #5a5a8c;
  background-image: none;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: initial;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  height: auto;
  border-top: 0;
  border-right: 0;
  border-bottom: 0;
  border-left: 0;
  z-index: 100013;
}

.header__info-form .radio-container {
  margin-top: 4px;
  margin-right: 0px;
  margin-bottom: 4px;
  margin-left: 0px;
  width: 360px;
  display: block;
}

.header__info-form .widget-info-text {
  display: block;
  height: auto;
  font-family: ubuntu;
  font-size: 12px;
  line-height: 1.3;
  font-weight: 300;
  color: #f2f9ff;
  overflow: hidden;
  font-style: normal;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}

.header__info-form {
  background-color: #5a5a8c;
  background-image: none;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: initial;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  height: auto;
  border-top: 0;
  border-right: 0;
  border-bottom: 0;
  border-left: 0;
  z-index: 10;
  display: block;
  width: 100%;
  }

.header__info-form .header__form--row {
  position: relative;
  top: 0px;
  left: 0px;
}

.header__info-form label {
  position: relative;
  top: 0px;
  left: 0px;
}

.header__info-form input {
  position: relative;
  top: 0px;
  left: 0px;
}

.header__info-form .header__form--row {
  position: relative;
  top: 0px;
  left: 0px;
}

.header__info-form label {
  position: relative;
  top: 0px;
  left: 0px;
}

.header__info-form input {
  position: relative;
  top: 0px;
  left: 0px;
}

.header__info-form .sen-button-container {
  position: relative;
}

.header__info-form .send-button {
  position: relative;
}

.overview__headline {
  text-decoration: underline;
  font-weight: 700;
  font-size: 38px;
  line-height: 49px;
  text-align: center;
  width: 100%;
  margin: 48px 0 24px 0;
}

@media screen and (max-width: 991px) {
  .overview__headline {
    font-size: 34px;
  }

  .overview__image-container {
    margin: 24px;
  }
}

.overview__text {
  font-weight: 300;
  font-size: 16px;
  line-height: 26px;
  padding: 0 24px;
}

.overview__presentation {
  border: 2px solid #eaeaea;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 24px;
}

@media screen and (max-width: 991px) {
  .overview__presentation {
    flex-direction: column;
  }

  .overview__text {
    padding: 0 36px;
  }
}

.overview__presentation--spacer {
  height: 36px;
  width: 2px;
  background: #eaeaea;
  margin: 6px 0;
}

.overview__text-number {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.overview__text-number p {
  font-weight: 700;
  color: #b8b8b8;
  font-size: 38px;
  line-height: 49px;
  margin-bottom: 0;
}

.overview__text-number h4 {
  font-weight: 300;
  font-size: 16px;
  line-height: 21px;
  color: #09281a;
}

.overview__button {
  border-radius: 4px;
  font-weight: 700;
  font-size: 17px;
  line-height: 22px;
  margin: 24px 0;
  width: 100%;
  max-width: 280px;
}

.text-image {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 36px;
}

.text-image--reversed {
  flex-direction: row-reverse;
}

@media screen and (max-width: 991px) {
  .text-image {
    flex-direction: column;
  }
}

.text-image__text {
  text-align: center;
  width: 50%;
}

.text-image__list {
  list-style-type: none;
  font-weight: 700;
  color: #b8b8b8;
  font-size: 25px;
  line-height: 33px;
  padding: 0;
  margin: 0;
}

.text-image__bulletpoint {
  margin-bottom: 24px;
  text-align: center;
}

.text-image__image {
  width: 50%;
  height: 345px;
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

.text-image__image--1 {
  background-image: url('images/30x56_West_Facing_page_003.jpg');
}

.text-image__image--2 {
  background-image: url('images/RBD_Stillwaters_Villa_60x40_New_Design_min_page_008.jpg');
}

.text-image__image--3 {
  background-image: url('images/terrace.jpg');
}

.manager {
  color: #000000;
  margin-bottom: 48px;
}

.manager h2 {
  font-size: 38px;
  line-height: 49px;
  font-weight: 500;
}

.manager .fa {
  color: #000000;
  margin: 24px 0;
}

.footer-image {
  background: url('images/bg_02.jpg');
  background-position: center;
  background-repeat: repeat;
  background-attachment: scroll;
  background-size: cover;
  position: relative;
  display: block;
}

@media screen and (max-width: 991px) {
  .footer-image .container {
    width: 100%!important;
    height: auto!important;
    max-width: 100%!important;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}

.footer-image__form {
  position: relative;
}

.footer-image__form-errors {
  display: none;
  position: absolute!important;
  right: -250px;
  max-width: 200px;
}

@media screen and (max-width: 991px) {
  .footer-image__form-errors {
    right: 0;
    position: relative!important;
  }
}

.footer-image__input {
  background: transparent;
  border: 2px solid rgba(242, 249, 255, .35);
  height: 50px;
  width: 100%;
  text-align: center;
  margin-bottom: 12px;
  color: #ffffff;
}

.footer-image__label {
  display: none;
}

.footer-image__send-button {
  width: 100%;
}

.footer-image .container {
  height: 493px;
  width: 960px;
}

.footer-image__box {
  background: #23232d;
  height: 100%;
  width: 460px;
  padding: 48px;
  text-align: center;
}

@media screen and (max-width: 991px) {
  .footer-image__box {
    width: 100%;
  }
}

.footer-image__box h3 {
  color: #ffffff;
  font-weight: 700;
  font-size: 38px;
  line-height: 49px;
}

.footer-image__box h4 {
  color: #b4beb7;
  font-weight: 300;
  font-size: 25px;
  line-height: 33px;
  margin-bottom: 36px;
}

.footer {
  margin-top: 24px;
  color: #000000;
  font-size: 16px;
  line-height: 21px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.footer p {
  font-weight: 400;
  text-align: center;
}

.footer b {
  font-weight: 700;
}

.modal {
  z-index: 1000000!important;
}

.modal__wrapper {
  background: #ffffff;
  border: 10px solid #5a5a8c;
  border-radius: 200px;
  position: absolute;
  top: calc(50% - 300px);
  left: calc(50% - 382px);
  min-height: 600px;
  width: 764px;
}

.modal__content {
  position: relative;
  height: 100%;
  width: 100%;
  padding: 72px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 991px) {
  .modal__content {
    padding: 40px;
  }
}

.modal__content h3 {
  font-weight: 700;
  font-size: 31px;
  line-height: 40px;
  color: #5a5a8c;
  margin-top: 24px;
}

.modal__link-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 24px;
  margin-bottom: 24px;
}

@media screen and (max-width: 991px) {
  .modal__link-container {
    text-align: center;
    flex-direction: column;
    margin-bottom: 12px;
    margin-top: 0;
  }
}

.modal__link {
  font-weight: 700;
  font-size: 31px;
  line-height: 40px;
  color: #5a5a8c;
  display: block;
}

.modal__link:hover {
  text-decoration: none;
  color: #5a5a8c;
}

.modal__link .fa {
  margin-right: 24px;
}

.modal__content .fa {
  color: #5a5a8c;
}

@media screen and (max-width: 991px) {
  .modal__link {
    font-size: 24px;
  }

  .modal__link .fa {
    margin-right: 0;
  }
}

.modal__content .fa-times-circle-o {
  position: absolute;
  top: 24px;
  right: 108px;
}

@media screen and (max-width: 413px) {
  .modal__content .fa-times-circle-o {
    right: 72px;
  }
}

@media screen and (max-width: 991px) {
  .modal__content .fa-times-circle-o {
    top: 0;
    right: 88px;
  }
}

.modal__logo {
  width: 100%;
  max-width: 284px;
}

.modal__input {
  width: 100%;
  border: 1px solid #d6d4d4;
  border-radius: 4px;
  margin-bottom: 6px;
  height: 41px;
  color: #161616;
  font-size: 14px;
  padding: 6px;
}

.modal__form {
  width: 100%;
}

.modal__button {
  width: 100%;
  border-radius: 4px;
  font-weight: 700;
  font-size: 20px;
  color: #f2f9ff;
}

@media screen and (max-width: 991px) {
  .modal__content h3 {
    text-align: center;
    font-size: 22px;
  }

  .modal__wrapper {
    width: 80%;
    left: calc(50% - 40vw);
    display: flex;
    align-items: center;
  }
}

.popunder .modal-dialog {
  max-width: 800px;
}

.popunder__link {
  color: #000000;
  font-size: 25px;
  font-weight: 700;
}

.popunder__link:hover {
  text-decoration: none;
  color: #000000;
}

.popunder__logo {
  width: 100%;
  max-width: 280px;
}

.popunder .modal-content {
  padding: 72px;
  position: relative;
}

.popunder h4 {
  font-size: 45px;
  font-weight: 400;
}

.popunder h4,
.popunder h5 {
  text-align: center;
  margin-bottom: 24px;
}

.popunder .fa {
  color: #000000;
}

.popunder .fa-times {
  position: absolute;
  top: 36px;
  right: 36px;
}

.popunder .fa-fax {
  margin: 48px 0;
}

.popunder .modal-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media screen and (max-width: 991px) {
  .popunder .modal-content {
    flex-direction: column;
    padding: 72px 24px 24px 24px;
  }

  .modal-content > div {
    width: 100%!important;
  }

  .popunder .modal-dialog {
    max-width: 90%;
  }
}

.modal-content > div {
  width: 340px;
}

.modal-content--left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.popunder__form-errors {
  display: none;
}

.popunder__input {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 2px solid #000;
  font-size: 16px;
  color: #000000;
  height: 43px;
  margin-bottom: 6px;
  width: 100%;
}

.popunder__button {
  width: 100%;
  color: #000000;
  background: #f5b62d;
  height: 55px;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  border: none;
  margin-top: 24px;
}

.popunder__button:hover {
  background: rgba(245, 182, 45, 0.8);
}